Options -MultiViews
DirectoryIndex index.html

RewriteEngine On
RewriteBase /

# Serve index.html for any route (React SPA routing)
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
